<div class="row"><h1>About Us</h1></div>

<div class="row"></div>
<div class="col-sm-4">
<div style="margin-top:50px;">
  <%= image_tag("bt5.png", :alt => "cute dog", :class => "img-responsive img-circle") %>
</div>
</div>

<div class="col-sm-8">
<p><strong>Hi!  This isn't a real boutique or store (sorry!), but, a project for me to learn how to build web applications in Ruby on Rails.  To see my work and progress, please visit my <a href="https://github.com/llovich" target="_blank">GitHub page</a></strong>. Gimme Five pet nap wagging parakeet Mittens nest dragging walk. Vaccination Mittens biscuit tooth lazy dog polydactyl tabby foot speak. Stick leash run grooming lazy cat grooming Tigger vaccine licks catch tabby harness foot meow. Bird Food Snowball commands cage vaccine window tooth water dog cat parakeet chirp water catch Snowball nap field cage kisses crate walk. Scratch pet gate puppy small animals puppy paws bird food bark ferret stripes bird food aquarium good boy polydactyl speak.</p>

<p>Puppy kitty ipsum dolor sit good dog nap. Canary lazy dog scratcher ID tag walk aquatic ID tag turtle carrier Snowball tabby chow canary kitty cockatiel pet supplies drool. Pet tooth chew dog house canary bedding behavior bedding. Lol Catz Snowball toys wet nose tail kitten head house train tooth lol catz dog. Foot biscuit roll over bird warm string fluffy harness purr play tongue yawn Rover. Kibble scratch kibble bedding Snowball nest groom maine coon cat drool litter box smooshy turtle biscuit. Heel lazy dog vaccine kitty pet gate food good boy crate.</p>

<p>Feeder fish water tabby lol catz fish window crate. Tigger twine bed kisses house train tabby harness hamster walk pet harness finch food Scooby snacks ferret Fido aquatic. Food bark finch cat smooshy shake licks paws crate slobber drool chow twine feeder birds stay. Fido carrier Fido critters purr bird seed nest litter brush paws head running kisses stay commands. Feathers licks bark leash play wet nose fetch teeth cockatiel ball foot collar swimming. Window litter left paw Buddy litter box scratcher finch. Scooby Snacks shake kitty tabby crate ID tag vaccination lick critters shake.</p>

<p>Water Dog Buddy furry play dead stripes kibble meow harness carrier slobber commands run fast hamster nap Rover food. Chew mouse yawn parrot nap fluffy wet nose cage warm chew cage warm lazy dog cage pet supplies bird food harness wagging throw critters. Dog shake nest warm bedding feeder kitty litter box turtle vitamins purr feathers. Paws walk treats bed vaccine pet tongue bird seed slobber kisses dinnertime. Running run fast window kitten sit fleas birds lick speak aquarium collar litter window cockatiel ferret Tigger. Food commands parrot biscuit kibble food vaccination left paw speak critters tail lol catz. Cockatiel food chow fetch vaccination kitty slobbery ID tag left paw gimme five. Rover litter box dog house nest litter box licks birds ball cage biscuit Spike cockatiel food kisses fur right paw slobber nest bird.</p>
</div>

</div>