<footer class="footer">
 <div class="container">
  <div class="row">
    <div class="col-sm-8" style="padding-top:20px;">
    <small>p.s. This isn't an actual store, but, a lesson for me to learn Ruby on Rails.</small>
    </div>

  <div class="col-sm-4 text-right" style="padding-top:10px;">
  <i class="fa fa-yelp fa-2x"></i>
  <i class="fa fa-facebook-official fa-2x"></i>
  <i class="fa fa-twitter-square fa-2x"></i>
  <i class="fa fa-instagram fa-2x"></i>
  <i class="fa fa-pinterest fa-2x"></i>
   </div>
   </div>
   </div>